 <style data-shopify="">
    #shopify-section-template--16743286538461__96d2bd0e-6f3f-4bd1-8cc4-24e83d034cc8 {
      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 0px;
      padding-right: 0px;
      
    }
  
    
  #shopify-section-template--16743286538461__96d2bd0e-6f3f-4bd1-8cc4-24e83d034cc8 .section {
      background-image: linear-gradient(0deg, rgba(255,255,255,0), rgba(0,0,0,0));
      background-color:;
     }#shopify-section-template--16743286538461__96d2bd0e-6f3f-4bd1-8cc4-24e83d034cc8 
  
    .heading-section__heading {
      color:#ffffff;
     }#shopify-section-template--16743286538461__96d2bd0e-6f3f-4bd1-8cc4-24e83d034cc8 
  
    .heading-section__preheading {
      color:#0a3a5b;
     }#shopify-section-template--16743286538461__96d2bd0e-6f3f-4bd1-8cc4-24e83d034cc8 
  
    .heading-section__subheading {
      color:#0a3a5b;
     }
  
  
  </style> 
  
  
  <section class="section SADASDADASDAS
                    thecircufiberdifference
                    is-width-standard
                    
                    " data-section-id="template--16743286538461__96d2bd0e-6f3f-4bd1-8cc4-24e83d034cc8"> <div class="container
                  "> <div class="one-whole column"> <div class="heading-section__content
                      is-flex
                      is-flex-column
                      is-align-center
                      text-align-center
                      vertical-spacing-medium"> <h2 class="heading-section__heading title">{{ section.settings.title }}</h2></div></div></div></section>
  
  
  
  
  

    
    
    <section class="section
                  thecircufiberdifferencecontentsection
                  is-width-standard
                  
                    has-gutter-enabled
                  
                  
                  "> <div class="container
                "> <style data-shopify="">
              #shopify-section-template--16743286538461__7c2eb379-0786-42b8-bbaa-b72c73384dfc-1687884724e59f4bed-2 {
                  background-color:;
                }
              
  #shopify-section-template--16743286538461__7c2eb379-0786-42b8-bbaa-b72c73384dfc-1687884724e59f4bed-2 .image-with-text__heading {
                color:#ffffff;
               }#shopify-section-template--16743286538461__7c2eb379-0786-42b8-bbaa-b72c73384dfc-1687884724e59f4bed-2 
  
              .image-with-text__text {
                color:#ffffff;
               }</style> <div class="image-with-text__text-column
                        image-with-text__column
                        
  
  
  
  
    one-third
  
  
                        medium-down--one-whole
                        column
                        has-padding-left
                        has-padding-right
                        
                        is-flex
                        is-flex-wrap
                        is-justify-center
                        is-align-center
                        " id="shopify-section-template--16743286538461__7c2eb379-0786-42b8-bbaa-b72c73384dfc-1687884724e59f4bed-2"> 
   
                        <div class="image-element__wrap" style="background: none;"> <img alt="" class="transition--color image-with-text__image lazyautosizes lazyloaded" src="{{ section.settings.first_icon | img_url: 'master'  }}" width="94" height="92" style="max-width:110px;">
                      </div>
                        {%comment%}
   <!--- Sock -->
                        <div class="image-element__wrap" style="
    background: url(//cdn.shopify.com/s/files/1/0484/4689/8340/files/Sock-Design_1x.png?v=1688078274);
   "> <img alt="" class="transition--color image-with-text__image lazyautosizes lazyloaded" data-src="//cdn.shopify.com/s/files/1/0484/4689/8340/files/Sock-Design_1600x.png?v=1688078274" data-sizes="auto" data-srcset="//cdn.shopify.com/s/files/1/0484/4689/8340/files/Sock-Design_5000x.png?v=1688078274 5000w,
    //cdn.shopify.com/s/files/1/0484/4689/8340/files/Sock-Design_4500x.png?v=1688078274 4500w,
    //cdn.shopify.com/s/files/1/0484/4689/8340/files/Sock-Design_4000x.png?v=1688078274 4000w,
    //cdn.shopify.com/s/files/1/0484/4689/8340/files/Sock-Design_3500x.png?v=1688078274 3500w,
    //cdn.shopify.com/s/files/1/0484/4689/8340/files/Sock-Design_3000x.png?v=1688078274 3000w,
    //cdn.shopify.com/s/files/1/0484/4689/8340/files/Sock-Design_2500x.png?v=1688078274 2500w,
    //cdn.shopify.com/s/files/1/0484/4689/8340/files/Sock-Design_2000x.png?v=1688078274 2000w,
    //cdn.shopify.com/s/files/1/0484/4689/8340/files/Sock-Design_1800x.png?v=1688078274 1800w,
    //cdn.shopify.com/s/files/1/0484/4689/8340/files/Sock-Design_1600x.png?v=1688078274 1600w,
    //cdn.shopify.com/s/files/1/0484/4689/8340/files/Sock-Design_1400x.png?v=1688078274 1400w,
    //cdn.shopify.com/s/files/1/0484/4689/8340/files/Sock-Design_1200x.png?v=1688078274 1200w,
    //cdn.shopify.com/s/files/1/0484/4689/8340/files/Sock-Design_1000x.png?v=1688078274 1000w,
    //cdn.shopify.com/s/files/1/0484/4689/8340/files/Sock-Design_800x.png?v=1688078274 800w,
    //cdn.shopify.com/s/files/1/0484/4689/8340/files/Sock-Design_600x.png?v=1688078274 600w,
    //cdn.shopify.com/s/files/1/0484/4689/8340/files/Sock-Design_400x.png?v=1688078274 400w,
    //cdn.shopify.com/s/files/1/0484/4689/8340/files/Sock-Design_200x.png?v=1688078274 200w," data-aspectratio="320/312" srcset="//cdn.shopify.com/s/files/1/0484/4689/8340/files/Sock-Design_5000x.png?v=1688078274 5000w,
    //cdn.shopify.com/s/files/1/0484/4689/8340/files/Sock-Design_4500x.png?v=1688078274 4500w,
    //cdn.shopify.com/s/files/1/0484/4689/8340/files/Sock-Design_4000x.png?v=1688078274 4000w,
    //cdn.shopify.com/s/files/1/0484/4689/8340/files/Sock-Design_3500x.png?v=1688078274 3500w,
    //cdn.shopify.com/s/files/1/0484/4689/8340/files/Sock-Design_3000x.png?v=1688078274 3000w,
    //cdn.shopify.com/s/files/1/0484/4689/8340/files/Sock-Design_2500x.png?v=1688078274 2500w,
    //cdn.shopify.com/s/files/1/0484/4689/8340/files/Sock-Design_2000x.png?v=1688078274 2000w,
    //cdn.shopify.com/s/files/1/0484/4689/8340/files/Sock-Design_1800x.png?v=1688078274 1800w,
    //cdn.shopify.com/s/files/1/0484/4689/8340/files/Sock-Design_1600x.png?v=1688078274 1600w,
    //cdn.shopify.com/s/files/1/0484/4689/8340/files/Sock-Design_1400x.png?v=1688078274 1400w,
    //cdn.shopify.com/s/files/1/0484/4689/8340/files/Sock-Design_1200x.png?v=1688078274 1200w,
    //cdn.shopify.com/s/files/1/0484/4689/8340/files/Sock-Design_1000x.png?v=1688078274 1000w,
    //cdn.shopify.com/s/files/1/0484/4689/8340/files/Sock-Design_800x.png?v=1688078274 800w,
    //cdn.shopify.com/s/files/1/0484/4689/8340/files/Sock-Design_600x.png?v=1688078274 600w,
    //cdn.shopify.com/s/files/1/0484/4689/8340/files/Sock-Design_400x.png?v=1688078274 400w,
    //cdn.shopify.com/s/files/1/0484/4689/8340/files/Sock-Design_200x.png?v=1688078274 200w," style=";" sizes="148px" src="//cdn.shopify.com/s/files/1/0484/4689/8340/files/Sock-Design_1600x.png?v=1688078274" width="320" height="312">
</div>     <!--- End Sock -->{%endcomment%}
    
    <div class="image-with-text__wrapper"> <h3 class="image-with-text__heading text-align-center is-regular">
                    {{ section.settings.icon_title_first }}</h3> <div class="image-with-text__text text-align-center content">{{ section.settings.icon_para_first }}</div></div></div> <style data-shopify="">
              #shopify-section-ac5dbe6e-db88-4433-9adb-cb9c464aba37 {
                  background-color:;
                }
              
  #shopify-section-ac5dbe6e-db88-4433-9adb-cb9c464aba37 .image-with-text__heading {
                color:#0a3a5b;
               }#shopify-section-ac5dbe6e-db88-4433-9adb-cb9c464aba37 
  
              .image-with-text__text {
                color:#000000;
               }</style> <div class="image-with-text__text-column
                        image-with-text__column
                        
  
  
  
  
    one-third
  
  
                        medium-down--one-whole
                        column
                        has-padding-left
                        has-padding-right
                        
                        is-flex
                        is-flex-wrap
                        is-justify-left
                        is-align-center
                        " id="shopify-section-ac5dbe6e-db88-4433-9adb-cb9c464aba37"> 
  <div class="image-element__wrap" style=""> <img alt="" class="transition--color image-with-text__image lazyautosizes lazyloaded"  src="{{ section.settings.plus_sign | img_url: 'master'  }}" width="151" height="151">
</div>
  <div class="image-with-text__wrapper"></div></div> <style data-shopify="">
              #shopify-section-832a3a25-cb5d-43a0-b222-9c883d94e4cd {
                  background-color:;
                }
              
  #shopify-section-832a3a25-cb5d-43a0-b222-9c883d94e4cd .image-with-text__heading {
                color:#ffffff;
               }#shopify-section-832a3a25-cb5d-43a0-b222-9c883d94e4cd 
  
              .image-with-text__text {
                color:#ffffff;
               }</style> <div class="image-with-text__text-column
                        image-with-text__column
                        
  
  
  
  
    one-third
  
  
                        medium-down--one-whole
                        column
                        has-padding-left
                        has-padding-right
                        
                        is-flex
                        is-flex-wrap
                        is-justify-center
                        is-align-center
                        " id="shopify-section-832a3a25-cb5d-43a0-b222-9c883d94e4cd"> 
   
   
   
   
   
    <!--- Sock -->
    <div class="image-element__wrap" style="
     "> <img alt="" class="transition--color image-with-text__image lazyautosizes lazyloaded" style="max-width: 96px;" src="{{ section.settings.second_icon | img_url: 'master' }}" >
  </div>     <!--- End Sock -->
      
   
   
                   {%comment%}     <div class="image-element__wrap" style="
    background: url(//cdn.shopify.com/s/files/1/0484/4689/8340/files/Circulight-Infrared_1x.png?v=1688078357);
   "> <img alt="" class="transition--color image-with-text__image lazyautosizes lazyloaded" data-src="//cdn.shopify.com/s/files/1/0484/4689/8340/files/Circulight-Infrared_1600x.png?v=1688078357" data-sizes="auto" data-srcset="//cdn.shopify.com/s/files/1/0484/4689/8340/files/Circulight-Infrared_5000x.png?v=1688078357 5000w,
    //cdn.shopify.com/s/files/1/0484/4689/8340/files/Circulight-Infrared_4500x.png?v=1688078357 4500w,
    //cdn.shopify.com/s/files/1/0484/4689/8340/files/Circulight-Infrared_4000x.png?v=1688078357 4000w,
    //cdn.shopify.com/s/files/1/0484/4689/8340/files/Circulight-Infrared_3500x.png?v=1688078357 3500w,
    //cdn.shopify.com/s/files/1/0484/4689/8340/files/Circulight-Infrared_3000x.png?v=1688078357 3000w,
    //cdn.shopify.com/s/files/1/0484/4689/8340/files/Circulight-Infrared_2500x.png?v=1688078357 2500w,
    //cdn.shopify.com/s/files/1/0484/4689/8340/files/Circulight-Infrared_2000x.png?v=1688078357 2000w,
    //cdn.shopify.com/s/files/1/0484/4689/8340/files/Circulight-Infrared_1800x.png?v=1688078357 1800w,
    //cdn.shopify.com/s/files/1/0484/4689/8340/files/Circulight-Infrared_1600x.png?v=1688078357 1600w,
    //cdn.shopify.com/s/files/1/0484/4689/8340/files/Circulight-Infrared_1400x.png?v=1688078357 1400w,
    //cdn.shopify.com/s/files/1/0484/4689/8340/files/Circulight-Infrared_1200x.png?v=1688078357 1200w,
    //cdn.shopify.com/s/files/1/0484/4689/8340/files/Circulight-Infrared_1000x.png?v=1688078357 1000w,
    //cdn.shopify.com/s/files/1/0484/4689/8340/files/Circulight-Infrared_800x.png?v=1688078357 800w,
    //cdn.shopify.com/s/files/1/0484/4689/8340/files/Circulight-Infrared_600x.png?v=1688078357 600w,
    //cdn.shopify.com/s/files/1/0484/4689/8340/files/Circulight-Infrared_400x.png?v=1688078357 400w,
    //cdn.shopify.com/s/files/1/0484/4689/8340/files/Circulight-Infrared_200x.png?v=1688078357 200w," data-aspectratio="324/333" srcset="//cdn.shopify.com/s/files/1/0484/4689/8340/files/Circulight-Infrared_5000x.png?v=1688078357 5000w,
    //cdn.shopify.com/s/files/1/0484/4689/8340/files/Circulight-Infrared_4500x.png?v=1688078357 4500w,
    //cdn.shopify.com/s/files/1/0484/4689/8340/files/Circulight-Infrared_4000x.png?v=1688078357 4000w,
    //cdn.shopify.com/s/files/1/0484/4689/8340/files/Circulight-Infrared_3500x.png?v=1688078357 3500w,
    //cdn.shopify.com/s/files/1/0484/4689/8340/files/Circulight-Infrared_3000x.png?v=1688078357 3000w,
    //cdn.shopify.com/s/files/1/0484/4689/8340/files/Circulight-Infrared_2500x.png?v=1688078357 2500w,
    //cdn.shopify.com/s/files/1/0484/4689/8340/files/Circulight-Infrared_2000x.png?v=1688078357 2000w,
    //cdn.shopify.com/s/files/1/0484/4689/8340/files/Circulight-Infrared_1800x.png?v=1688078357 1800w,
    //cdn.shopify.com/s/files/1/0484/4689/8340/files/Circulight-Infrared_1600x.png?v=1688078357 1600w,
    //cdn.shopify.com/s/files/1/0484/4689/8340/files/Circulight-Infrared_1400x.png?v=1688078357 1400w,
    //cdn.shopify.com/s/files/1/0484/4689/8340/files/Circulight-Infrared_1200x.png?v=1688078357 1200w,
    //cdn.shopify.com/s/files/1/0484/4689/8340/files/Circulight-Infrared_1000x.png?v=1688078357 1000w,
    //cdn.shopify.com/s/files/1/0484/4689/8340/files/Circulight-Infrared_800x.png?v=1688078357 800w,
    //cdn.shopify.com/s/files/1/0484/4689/8340/files/Circulight-Infrared_600x.png?v=1688078357 600w,
    //cdn.shopify.com/s/files/1/0484/4689/8340/files/Circulight-Infrared_400x.png?v=1688078357 400w,
    //cdn.shopify.com/s/files/1/0484/4689/8340/files/Circulight-Infrared_200x.png?v=1688078357 200w," style="max-width: 96px;" sizes="148px" src="{{ section.settings.second_icon | img_url: 'master' }}">
</div>{%endcomment%} 
    <div class="image-with-text__wrapper"> <h3 class="image-with-text__heading text-align-center is-regular">
                   {{ section.settings.icon_title_Second }}</h3> <div class="image-with-text__text text-align-center content">{{ section.settings.icon_para_Second }}</div></div></div></div></section></div>




  </section>
  
{% style %}
.circufiber-difference .is-flex {
  display: flex;
  gap: 40px;
}



{% endstyle %}
 




{% schema %}
{
  "name": "Circufiber Difference",
  "class": "circufiber-difference",
  "settings": [

    {
      "type": "text",
      "id": "css_class",
      "label": "CSS Class"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Section heading"
    },
    {
      "type": "image_picker",
      "id": "first_icon",
      "label": "First Icon Img"
    },
    {
      "type": "text",
      "id": "icon_title_first",
      "label": "First Section text"
    },
    {
      "type": "richtext",
      "id": "icon_para_first",
      "label": "First Section text"
    },
    {
      "type": "image_picker",
      "id": "plus_sign",
      "label": "Plus Icon Img"
    },
     {
      "type": "image_picker",
      "id": "second_icon",
      "label": "Second Icon Img"
    },
    {
      "type": "text",
      "id": "icon_title_Second",
      "label": "Second Section text"
    },
    {
      "type": "richtext",
      "id": "icon_para_Second",
      "label": "Second  Section text"
    }
  ],
  "presets": [
    {
      "name": "Circufiber Difference",
      "category": "Content"
    }
  ]
}
{% endschema %}
