<div id="shopify-section-template--16743286538461__ec9cf1fc-c3d9-4277-a52c-e4bd37db054e" class="shopify-section heading-section">


  <style data-shopify="">

  
    
  #shopify-section-template--16743286538461__ec9cf1fc-c3d9-4277-a52c-e4bd37db054e .section {
      background-image: linear-gradient(0deg, rgba(255,255,255,0), rgba(0,0,0,0));
      background-color:;
     }#shopify-section-template--16743286538461__ec9cf1fc-c3d9-4277-a52c-e4bd37db054e 
  
    .heading-section__heading {
      color:#ffffff;
     }#shopify-section-template--16743286538461__ec9cf1fc-c3d9-4277-a52c-e4bd37db054e 
  
    .heading-section__preheading {
      color:#0a3a5b;
     }#shopify-section-template--16743286538461__ec9cf1fc-c3d9-4277-a52c-e4bd37db054e 
  
    .heading-section__subheading {
      color:#0a3a5b;
     }
  
    
  
  
  </style> <section class="section
                    tophealthexpertsection
                    is-width-standard
                    
                    " data-section-id="template--16743286538461__ec9cf1fc-c3d9-4277-a52c-e4bd37db054e"> <div class="container
                  "> <div class="one-whole column"> <div class="heading-section__content
                      is-flex
                      is-flex-column
                      is-align-center
                      text-align-center
                      vertical-spacing-medium"> <h2 class="heading-section__heading title">{{ section.settings.main_heading }}</h2></div></div></div></section>
  
  
  
  
  </div>



  <div id="shopify-section-template--16743286538461__aa77a53d-db83-4e3c-91bd-df6fbb28b11b" class="shopify-section testimonials jsTestimonials">




    <style data-shopify="">

      
    #shopify-section-template--16743286538461__aa77a53d-db83-4e3c-91bd-df6fbb28b11b .testimonial-block {
        background-color:;
       }#shopify-section-template--16743286538461__aa77a53d-db83-4e3c-91bd-df6fbb28b11b 
    
      .testimonial__description {
        color:;
       }
    
      
    #shopify-section-template--16743286538461__aa77a53d-db83-4e3c-91bd-df6fbb28b11b a {
    font-weight: 600;
     }#shopify-section-template--16743286538461__aa77a53d-db83-4e3c-91bd-df6fbb28b11b 
    .testimonial__image{margin-top: -30px; }#shopify-section-template--16743286538461__aa77a53d-db83-4e3c-91bd-df6fbb28b11b .testimonial-block.testimonial-align--center .testimonial__description, .testimonial-block.testimonial-align--center .testimonial__name {
        justify-content: start;
        text-align: center;
     }#shopify-section-template--16743286538461__aa77a53d-db83-4e3c-91bd-df6fbb28b11b .testimonial__name {
        padding-top: 90px;
     }
    
    </style>
    
    <section class="section
                    tophealthexpertsectioncontentarea
                    is-width-standard
                    
                    
                    "> <div class="container"> <div class="testimonial__nav-wrapper one-whole column is-flex"> <div class="testimonial__nav testimonial__nav--prev">
              
    
    
      
    
    <span class="icon " data-icon="left-arrow"> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="left-arrow"><polygon points="95.04 46 21.68 46 48.18 22.8 42.91 16.78 4.96 50 42.91 83.22 48.18 77.2 21.68 54 95.04 54 95.04 46"></polygon></g></svg>
    
      
    </span></div> <div class="testimonial__nav testimonial__nav--next ">
              
    
    
      
    
    <span class="icon " data-icon="right-arrow"> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g id="right-arrow"><polygon points="57.09 16.78 51.82 22.8 78.32 46 4.96 46 4.96 54 78.32 54 51.82 77.2 57.09 83.22 95.04 50 57.09 16.78"></polygon></g></svg>
    
      
    </span></div></div></div> <div class="testimonials container flickity-enabled is-draggable" data-testimonial-slider="" tabindex="0">
        
    
          
    
    
          
    
        
    
          
    
    
          
    
        
    
          
    
    
          
    
        
    
          
    
    
          
    
        
    
          
    
    
          
    <div class="flickity-viewport" style="height: 465px; touch-action: pan-y;"><div class="flickity-slider" style="left: 0px; transform: translateX(0%);"><div id="shopify-section-template--16743286538461__aa77a53d-db83-4e3c-91bd-df6fbb28b11b-16878854355b3f4fdb-0" class="testimonial-block block--template--16743286538461__aa77a53d-db83-4e3c-91bd-df6fbb28b11b-16878854355b3f4fdb-0 column has-images-enabled-true testimonial-border--false testimonial-align--center one-third medium-down--one-whole" data-testimonial-index="0" style="position: absolute; left: 0%;" aria-hidden="true"> <style>
                .block--template--16743286538461__aa77a53d-db83-4e3c-91bd-df6fbb28b11b-16878854355b3f4fdb-0 .testimonial__name {
                  color:;
                  background-color:#ffffff;
                }</style> <div class="testimonial__name"> {{ section.settings.testi_first_name }} <div class="testimonial__image has-image-crop image-style--circle">
                  
                    
                      
    
    
    
    
    
    
    
    
    
    
    
    <div class="image-element__wrap" style="background: none; max-width: 800px;"> <img alt="" class="transition--color lazyautosizes lazyloaded" data-aspectratio="800/800" src="{{ section.settings.testi_img_first | img_url: 'master' }}" width="800" height="800">
    </div>
    </div></div> <div class="testimonial__description">{{ section.settings.firstdocdetails }}</div></div><div id="shopify-section-template--16743286538461__aa77a53d-db83-4e3c-91bd-df6fbb28b11b-16878854355b3f4fdb-1" class="testimonial-block block--template--16743286538461__aa77a53d-db83-4e3c-91bd-df6fbb28b11b-16878854355b3f4fdb-1 column has-images-enabled-true testimonial-border--false testimonial-align--center one-third medium-down--one-whole is-selected" data-testimonial-index="1" style="position: absolute; left: 33.33%;"> <style>
                .block--template--16743286538461__aa77a53d-db83-4e3c-91bd-df6fbb28b11b-16878854355b3f4fdb-1 .testimonial__name {
                  color:;
                  background-color:#ffffff;
                }</style> <div class="testimonial__name"> {{ section.settings.testi_second_name }} <div class="testimonial__image has-image-crop image-style--circle">
                  
                    
                      
    
    
    
    
    
    
    
    
    
    
    
    <div class="image-element__wrap" style="background: none; max-width: 800px;"> <img alt="" class="transition--color lazyautosizes lazyloaded"  data-aspectratio="800/800" sizes="100px" src="{{ section.settings.testi_img_second | img_url: 'master'  }}" width="800" height="800">
    </div>
    </div></div> <div class="testimonial__description">{{ section.settings.seconddocdetails }}</div></div><div id="shopify-section-template--16743286538461__aa77a53d-db83-4e3c-91bd-df6fbb28b11b-16878854355b3f4fdb-2" class="testimonial-block
                      block--template--16743286538461__aa77a53d-db83-4e3c-91bd-df6fbb28b11b-16878854355b3f4fdb-2
                      column
                      has-images-enabled-true
                      testimonial-border--false
                      testimonial-align--center
                      
    
    
    
    
      one-third
    
    
                      medium-down--one-whole" data-testimonial-index="2" style="position: absolute; left: 66.67%;" aria-hidden="true"> <style>
                .block--template--16743286538461__aa77a53d-db83-4e3c-91bd-df6fbb28b11b-16878854355b3f4fdb-2 .testimonial__name {
                  color:;
                  background-color:#ffffff;
                }</style> <div class="testimonial__name"> {{ section.settings.testi_third_name }}<div class="testimonial__image has-image-crop image-style--circle">
                  
                    
                      
    
    
    
    
    
    
    
    
    
    
    
    <div class="image-element__wrap" style="background: none; max-width: 800px;"> <img alt="" class="transition--color lazyautosizes lazyloaded" data-aspectratio="800/800"  style=";" sizes="100px" src="{{ section.settings.testi_img_third | img_url: 'master' }}" width="800" height="800">
    </div>
    </div></div> 
    <div class="testimonial__description">{{ section.settings.thirddocdetails }} </div></div>
    
    
    
    <div id="shopify-section-d537225c-25e2-4a72-ac84-5c573d4791e6" class="testimonial-block
                      block--d537225c-25e2-4a72-ac84-5c573d4791e6
                      column
                      has-images-enabled-true
                      testimonial-border--false
                      testimonial-align--center
                      
    
    
    
    
      one-third
    
    
                      medium-down--one-whole" data-testimonial-index="3" style="position: absolute; left: 100%;" aria-hidden="true"> <style>
                .block--d537225c-25e2-4a72-ac84-5c573d4791e6 .testimonial__name {
                  color:;
                  background-color:#ffffff;
                }</style> <div class="testimonial__name"> <div class="testimonial__image has-image-crop image-style--circle">
                  
                    
                      
    
    
    
    
    
    
    
    
    
    
    
    <noscript class="noscript"> <img class="" src="//cdn.shopify.com/s/files/1/0484/4689/8340/files/Dr._Franklin_Polun_2000x.jpg?v=1672884675" alt="">
    </noscript></div></div> <div class="testimonial__description"> </div></div><div id="shopify-section-f76589bf-c138-4a63-89a9-11da02546cdf" class="testimonial-block
                      block--f76589bf-c138-4a63-89a9-11da02546cdf
                      column
                      has-images-enabled-true
                      testimonial-border--false
                      testimonial-align--center
                      
    
    
    
    
      one-third
    
    
                      medium-down--one-whole" data-testimonial-index="4" style="position: absolute; left: 133.33%;" aria-hidden="true"> <style>
                .block--f76589bf-c138-4a63-89a9-11da02546cdf .testimonial__name {
                  color:;
                  background-color:#ffffff;
                }</style> <div class="testimonial__name"> 
                 <div class="testimonial__image has-image-crop image-style--circle">
                  
                    
                      
    
    
    
    
    
    
    
    
    
    
    
    <div class="image-element__wrap" style="
        background: url(//cdn.shopify.com/s/files/1/0484/4689/8340/files/Kim_Rose_1x.jpg?v=1672884692);
       max-width: 800px;"> <img alt="" class="lazyload transition--color " data-src="//cdn.shopify.com/s/files/1/0484/4689/8340/files/Kim_Rose_1600x.jpg?v=1672884692" data-sizes="auto" data-srcset="//cdn.shopify.com/s/files/1/0484/4689/8340/files/Kim_Rose_5000x.jpg?v=1672884692 5000w,
        //cdn.shopify.com/s/files/1/0484/4689/8340/files/Kim_Rose_4500x.jpg?v=1672884692 4500w,
        //cdn.shopify.com/s/files/1/0484/4689/8340/files/Kim_Rose_4000x.jpg?v=1672884692 4000w,
        //cdn.shopify.com/s/files/1/0484/4689/8340/files/Kim_Rose_3500x.jpg?v=1672884692 3500w,
        //cdn.shopify.com/s/files/1/0484/4689/8340/files/Kim_Rose_3000x.jpg?v=1672884692 3000w,
        //cdn.shopify.com/s/files/1/0484/4689/8340/files/Kim_Rose_2500x.jpg?v=1672884692 2500w,
        //cdn.shopify.com/s/files/1/0484/4689/8340/files/Kim_Rose_2000x.jpg?v=1672884692 2000w,
        //cdn.shopify.com/s/files/1/0484/4689/8340/files/Kim_Rose_1800x.jpg?v=1672884692 1800w,
        //cdn.shopify.com/s/files/1/0484/4689/8340/files/Kim_Rose_1600x.jpg?v=1672884692 1600w,
        //cdn.shopify.com/s/files/1/0484/4689/8340/files/Kim_Rose_1400x.jpg?v=1672884692 1400w,
        //cdn.shopify.com/s/files/1/0484/4689/8340/files/Kim_Rose_1200x.jpg?v=1672884692 1200w,
        //cdn.shopify.com/s/files/1/0484/4689/8340/files/Kim_Rose_1000x.jpg?v=1672884692 1000w,
        //cdn.shopify.com/s/files/1/0484/4689/8340/files/Kim_Rose_800x.jpg?v=1672884692 800w,
        //cdn.shopify.com/s/files/1/0484/4689/8340/files/Kim_Rose_600x.jpg?v=1672884692 600w,
        //cdn.shopify.com/s/files/1/0484/4689/8340/files/Kim_Rose_400x.jpg?v=1672884692 400w,
        //cdn.shopify.com/s/files/1/0484/4689/8340/files/Kim_Rose_200x.jpg?v=1672884692 200w," data-aspectratio="800/800" srcset="data:image/svg+xml;utf8,<svg%20xmlns='http://www.w3.org/2000/svg'%20width='800'%20height='800'></svg>" style=";" width="800" height="800">
    </div>
    
    
    
    <noscript class="noscript"> <img class="" src="//cdn.shopify.com/s/files/1/0484/4689/8340/files/Kim_Rose_2000x.jpg?v=1672884692" alt="">
    </noscript></div></div> <div class="testimonial__description"> </div></div></div></div></div>
    </section>
    
    
    <script type="application/json" data-section-id="template--16743286538461__aa77a53d-db83-4e3c-91bd-df6fbb28b11b" data-section-data="">
      {
      }
    </script>
    <script data-theme-editor-load-script="" src="//cdn.shopify.com/s/files/1/0484/4689/8340/t/27/assets/z__jsTestimonials.js?v=103765641734124949921687864570"></script>
    
    
    
    </div>

        <!--- END Last Review -->

        <!--- START APMA-->

    <div id="shopify-section-template--16743286538461__f578a8a1-6c4f-4745-9022-334c9c8fddf4" class="shopify-section image-with-text image-with-text-1">





      <style data-shopify="">
       
        
      #shopify-section-template--16743286538461__f578a8a1-6c4f-4745-9022-334c9c8fddf4 .image-element__wrap img {
      width: 46%;
       }
      
      </style>
      
      
      <section class="section
                      acceptedsection
                      is-width-standard
                      
                        has-gutter-enabled
                      
                      
                      "> <div class="container
                    "> <div class="image-with-text__image-column
                image-with-text__column
                
                  one-half
                
                medium-down--one-whole
                column
                is-flex
                is-align-center
                
                image-crop--none" id="shopify-section-template--16743286538461__f578a8a1-6c4f-4745-9022-334c9c8fddf4-1687884724e59f4bed-0">
                  
                    
                      
      
      
      
      
      
      
      
      
      
      
      
      <div class="image-element__wrap" style="
          background: url(//cdn.shopify.com/s/files/1/0484/4689/8340/files/transparent-apma_1x.png?v=1676684070);
         "> <img alt="" class="transition--color image-with-text__image lazyautosizes lazyloaded" style=";" sizes="376px" src="{{ section.settings.first_img | img_url: 'master' }}" width="300" height="300">
      </div>
      
      </div> <style data-shopify="">
                  #shopify-section-template--16743286538461__f578a8a1-6c4f-4745-9022-334c9c8fddf4-1687884724e59f4bed-2 {
                      background-color:;
                    }
                  
      #shopify-section-template--16743286538461__f578a8a1-6c4f-4745-9022-334c9c8fddf4-1687884724e59f4bed-2 .image-with-text__heading {
                    color:#0a3a5b;
                   }#shopify-section-template--16743286538461__f578a8a1-6c4f-4745-9022-334c9c8fddf4-1687884724e59f4bed-2 
      
                  .image-with-text__text {
                    color:#000000;
                   }</style> <div class="image-with-text__text-column
                            image-with-text__column
                            
      
      
      
      
        one-half
      
      
                            medium-down--one-whole
                            column
                            has-padding-left
                            has-padding-right
                            
                            is-flex
                            is-flex-wrap
                            is-justify-left
                            is-align-center
                            " id="shopify-section-template--16743286538461__f578a8a1-6c4f-4745-9022-334c9c8fddf4-1687884724e59f4bed-2"> <div class="image-with-text__wrapper"> <div class="image-with-text__text text-align-left content">{{ section.settings.first_textpara }} </div></div></div></div>
      </section>
      
      
      </div>

      <!--- END APMA-->


         <!--- START USFDA -->

<div id="shopify-section-template--16743286538461__df153568-5f5d-4052-877b-2eb4fb4c3072" class="shopify-section image-with-text image-with-text-1">





<style data-shopify="">

#shopify-section-template--16743286538461__df153568-5f5d-4052-877b-2eb4fb4c3072 .image-element__wrap img {
width: 40%;
 }

</style>


<section class="section
                acceptedsection
                acceptedsection-bottom
                is-width-standard
                
                  has-gutter-enabled
                
                
                "> <div class="container
              "> <div class="image-with-text__image-column
          image-with-text__column
          
            one-half
          
          medium-down--one-whole
          column
          is-flex
          is-align-center
          
          image-crop--none" id="shopify-section-3f479ab3-9626-4924-beea-ada066eda242">
            
              
                










          <div class="image-element__wrap" style="
            background: url(//cdn.shopify.com/s/files/1/0484/4689/8340/files/USFDA_2x_b228d3e9-4131-4930-af1d-3f85e0e021ef_1x.png?v=1688179832);
           "> <img alt="" class="transition--color image-with-text__image lazyautosizes lazyloaded" src="{{ section.settings.second_img | img_url: 'master' }}" width="300" height="295">
        </div>
 </div> <style data-shopify="">
            #shopify-section-e934c7eb-dcaf-4634-b4e3-ae2fb3d20e1b {
                background-color:;
              }
            
#shopify-section-e934c7eb-dcaf-4634-b4e3-ae2fb3d20e1b .image-with-text__heading {
              color:#0a3a5b;
             }#shopify-section-e934c7eb-dcaf-4634-b4e3-ae2fb3d20e1b 

            .image-with-text__text {
              color:#000000;
             }</style> <div class="image-with-text__text-column
                      image-with-text__column
                      




  one-half


                      medium-down--one-whole
                      column
                      has-padding-left
                      has-padding-right
                      
                      is-flex
                      is-flex-wrap
                      is-justify-left
                      is-align-center
                      " id="shopify-section-e934c7eb-dcaf-4634-b4e3-ae2fb3d20e1b"> <div class="image-with-text__wrapper"> <div class="image-with-text__text text-align-left content"> {{ section.settings.second_textpara }}</div></div></div></div>
</section>


</div>

   <!--- End USFDA -->




{% style %}
  .circufiber-health-experts {
    display: flex;
    flex-direction:column;
    gap:0;
    padding:60px 0 0 0;
  }
  #shopify-section-template--16743286538461__462eecc5-abee-46f5-be40-5e2fa7381f1b {
    max-width:1366px;
    margin:0 auto;
  }
  .number-customers {
    margin-bottom:60px;
  }
  .cust-reviews.is-flex {
    gap:30px;
    flex-direction:column;
  }
  .cust-card {
    margin-bottom:40px;
  }
  .cust-card p {
    margin-bottom:0px !important;
    padding:0 20px;
  }

  section.section.acceptedsection.is-width-standard.has-gutter-enabled {
    max-width:1200px;
    margin:0 auto;
  }
  section.section.acceptedsection.is-width-standard.has-gutter-enabled p {
    font-size:18px;
  }
  #shopify-section-template--16743286538461__f578a8a1-6c4f-4745-9022-334c9c8fddf4 {
    padding-top:60px;
    background: #d1e5f1;
  }
  #shopify-section-template--16743286538461__df153568-5f5d-4052-877b-2eb4fb4c3072 {
    padding-bottom:60px;
    background: #d1e5f1;
  }
  
  section.section.acceptedsection-bottom.is-width-standard.has-gutter-enabled {
    padding-top:0;
  }
  @media(max-width:1366px) {

      #shopify-section-template--16743286538461__462eecc5-abee-46f5-be40-5e2fa7381f1b {
      max-width:90%;
      margin:0 auto;
    }

  }



@media(max-width:768px) {



}

  @media(max-width:798px) {
    .tophealthexpertsectioncontentarea .flickity-slider {
      left: unset !important;
      transform: none !important;
    }
    .testimonials .flickity-slider .medium-down--sixteen, 
    .testimonials .flickity-slider .medium-down--one-whole {
      width: 100% !important;
      position: relative !important;
      left: unset !important;
    }
    .testimonials .flickity-viewport {
      height: 1440px !important;
    }

  }




{% endstyle %}
 




{% schema %}
{
  "name": "Top Health Experts",
  "class": "circufiber-health-experts",
  "settings": [

    {
      "type": "text",
      "id": "css_class",
      "label": "CSS Class"
    },
    {
      "type": "text",
      "id": "main_heading",
      "label": "Main Heading"
    },
    {
      "type": "richtext",
      "id": "testi_first_name",
      "label": "First Testimonial Name"
    },
    {
      "type": "image_picker",
      "id": "testi_img_first",
      "label": "First Image of Testimonial"
    },
    {
      "type": "richtext",
      "id": "firstdocdetails",
      "label": "First Testimonial Details"
    },
    {
      "type": "richtext",
      "id": "testi_second_name",
      "label": "Second Testimonial Name"
    },
    {
      "type": "image_picker",
      "id": "testi_img_second",
      "label": "Second Image of Testimonial"
    },
    {
      "type": "richtext",
      "id": "seconddocdetails",
      "label": "Second Testimonial Details"
    },
    {
      "type": "richtext",
      "id": "testi_third_name",
      "label": "Third Testimonial Name"
    },
    {
      "type": "image_picker",
      "id": "testi_img_third",
      "label": "Third Image of Testimonial"
    },
    {
      "type": "richtext",
      "id": "thirddocdetails",
      "label": "Third Testimonial Details"
    },
    {
      "type": "image_picker",
      "id": "first_img",
      "label": "First section Image"
    },
    {
      "type": "richtext",
      "id": "first_textpara",
      "label": "First section text"
    },
    {
      "type": "image_picker",
      "id": "second_img",
      "label": "Second section Image"
    },
    {
      "type": "richtext",
      "id": "second_textpara",
      "label": "Second section text"
    }
  ],
  "presets": [
    {
      "name": "Top Health Experts",
      "category": "Content"
    }
  ]
}
{% endschema %}
